.shutter{
  background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;

}

.shutter h1{
  color: aqua;
  display:none;
  position: fixed;
	left: 50%;
	top: 50%;
  padding-left: 33%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	width: 100%;
  font-size: 100px;
}

.content{
  z-index: 100;
}
