*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-image: url("haikei.jpg");
  background-size: cover;
}

.top{
  display: flex;
  justify-content: stretch;
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 40px;
  border-bottom: solid 4px gray;
  color:rgb(119, 108, 48);
  text-shadow: slategrey 3px 3px 3px;
}

.top h1{
  padding-left: 20px;
}

#top-image{
  width: 100%;
  height: 700px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.question {
 margin-left: 30%;
 margin-top: 17px;
}

.question a{
  background:rgb(13, 99, 126);
  color: #fff;
  width:180px;
  height:45px;
  display:inline-block;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 45px;
  font-size: 17px;
  transition:800ms;
}

.question a:hover{
  background: darkslateblue;
}

.message{
 width: 100%;
 overflow: hidden;
 border-bottom: gray solid 4px;
}

#text{
  font-size: 100px;
  color: red;
  text-shadow: gray 5px 5px 5px;
  animation: flowing 15s linear infinite;
  transform: translateX(100%);
}

@keyframes flowing{
  100%{
    transform: translateX(-100%);
  }
}

.headerInner{
  text-align: center;
}

.headerInner,.mainInner{

}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: gray;
  border: solid 1px yellowgreen;
  border-radius: 10px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color:greenyellow;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

s
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  margin-left: 70%;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color:gray;
  transition: all 0.5s;/*アニメーション設定*/
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px yellowgreen;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:yellowgreen;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}


#carousel-area ul,li{
  list-style: none;
}

#carousel-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-area{
  width: 800px;
  height: 300px;
  overflow: hidden;
  margin: 0 5px;
}

#carousel-area ul{
  display: flex;
  margin: 0 5px;
}

#carousel-area li{
  margin: 10px 5px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

button{
  width: 60px;
  height: 25px;
  border-radius: 5px;
}

footer{
  background-image:url("footer.png");
  background-size: cover;
  padding: 20px;
  text-align: center;
}

footer img{
  width: 35px;
  height: 35px;
  border-radius:80px ;
}

#anniversary{
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

footer ul{
  display: flex;
  justify-content: center;
}

.links-social{
  margin: 20px 40px 40px;
}

#map,
.links-main-pages,
.links-sub-pages{
  margin: 40px;
}

.links-social li{
  padding: 0 10px;
}

.links-main-pages li,
.links-sub-pages li{
  padding: 0 30px;
  border-right: solid 1px #fff;
  font-size: 14px;
}

.links-main-pages li:last-child,
.links-sub-pages li:last-child{
  border-right: 0;
}

.links-main-pages a,
.links-sub-pages a{
  color: #fff;
  text-decoration: none;
}

small {
  color: #fff;
}
